*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.carousel-inner{
    height: 100vh;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-item img{
    width: 100%;
}